<div class="chat-container" *ngIf="selectedUserId; else selectFriendMessage">
  <div class="messages" (scroll)="onScrollUp()">
    <div *ngFor="let message of messages" [ngClass]="{'from-me': message.sender._id !== selectedUserId, 'from-them': message.sender._id === selectedUserId}" class="message-wrapper">
      <div class="message-card">
        <strong>{{ message.sender._id === selectedUserId ? 'Você' : message.sender.username }}:</strong>
        <span>{{ message.content }}</span>

        <!-- Mostrar botões de edição e exclusão apenas se a mensagem pertencer ao usuário -->
        <div *ngIf="message.sender._id !== selectedUserId" class="message-actions">
          <button class="action-button edit-button" (click)="startEditing(message._id, message.content)" *ngIf="editingMessageId !== message._id">
            ✎
          </button>
          <button class="action-button delete-button" (click)="deleteMessage(message._id)">
            🗑
          </button>
        </div>

        <!-- Mostrar um marcador para indicar que a mensagem está sendo editada -->
        <span *ngIf="editingMessageId === message._id" class="editing-indicator">(Editando...)</span>
      </div>
    </div>
  </div>

  <form (ngSubmit)="editingMessageId ? updateMessage() : sendMessage()" class="message-input-form">
    <input class="message-input" [(ngModel)]="messageContent" name="messageContent" [placeholder]="editingMessageId ? 'Editar mensagem' : 'Digite sua mensagem'" required />
    <button class="send-button" type="submit">{{ editingMessageId ? 'Salvar' : 'Enviar' }}</button>
    <button *ngIf="editingMessageId" class="cancel-button" type="button" (click)="cancelEditing()">Cancelar</button>
  </form>
</div>

<ng-template #selectFriendMessage>
  <p class="select-friend-message">Selecione um amigo para começar a conversar.</p>
</ng-template>
