<div class="friends-card">
  <div class="card-header">
    <h2>Amigos</h2>
  </div>
  <div class="card-content">
    <ul class="friend-list">
      <li *ngFor="let friend of friends" (click)="selectFriend(friend._id)" class="friend-item">
        <img [src]="getAvatar(friend)" alt="{{ friend.username }}'s avatar" class="friend-avatar">
        <div class="friend-info">
          <span class="friend-username">{{ friend.username }}</span>
          <span class="friend-status">{{ friend.status }}</span>
        </div>
      </li>
    </ul>
  </div>  
  <hr class="divider">
  <div class="add-friend-section">
    <input type="text" [(ngModel)]="newFriendUsername" placeholder="Adicionar amigo" class="add-friend-input"/>
    <button (click)="addFriend()" class="add-friend-button">Add</button>
  </div>
</div>
