/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 25%;
    border-right: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto;
  }
  
  .chat-area {
    width: 75%;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .messages {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 10px;
  }
  
  form {
    display: flex;
  }
  
  form input[type="text"] {
    flex: 1;
    padding: 5px;
  }
  
  form button {
    padding: 5px 10px;
  }
  